*.swp
.vim/spell/*spl
.vim/spell/*add
.vim/spell/*sug
.vim/.netrwhist
.vim/after/plugin
.vim/autoload/snipMate.vim
.vim/doc/*
.vim/ftplugin/html_snip_helper.vim
.vim/plugin/snipMate.vim
.vim/plugin/supertab.vim
.vim/plugin/python_fold.vim
.vim/syntax/*
.vim/colors/*
.vim/colors
.vim/plugin
.vim/snippets/*
.vim/ftdetect
.bash_completion.d
.vim/autoload/
.vim/plugin/minibufexpl.vim
.vim/plugin/vimproc.vim
.vim/plugin/vimshell.vim
.vim/test
.vim/nerdtree_plugin
.vim/plugin/NERD_tree.vim
