*.swp
.vim/spell/*spl
.vim/spell/*add
.vim/spell/*sug
.vim/.netrwhist
.vim/after/plugin
.vim/autoload/snipMate.vim
.vim/doc/snipMate.txt
.vim/doc/supertab.txt
.vim/ftplugin/html_snip_helper.vim
.vim/plugin/snipMate.vim
.vim/plugin/supertab.vim
.vim/plugin/python_fold.vim
.vim/syntax/snippet.vim
.vim/colors/*
.vim/snippets
.bash_completion.d
