[user]
	name = 
	email = 

[diff]
    color = auto

[pager]
    color = true

[status]
    color = auto
[push]
	default = current
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	df0 = diff -U0
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
