!Theme Twenty
*foreground: rgb:dd/dd/dd
*background: rgb:00/00/00
*color0:     rgb:00/00/00
*color1:     rgb:bf/79/79
*color2:     rgb:97/b2/6b
*color3:     rgb:cd/cd/c1
*color4:     rgb:86/a2/be
*color5:     rgb:d9/b7/98
*color6:     rgb:a1/b5/cd
*color7:     rgb:ff/ff/ff
*color8:     rgb:55/55/55
*color9:     rgb:f4/a4/5f
*color10:    rgb:c5/f7/79
*color11:    rgb:ff/ff/ef
*color12:    rgb:98/af/d9
*color13:    rgb:d7/d9/98
*color14:    rgb:a1/b5/cd
*color15:    rgb:de/de/de
UXTerm*foreground: rgb:dd/dd/dd
UXTerm*background: rgb:00/00/00
UXTerm*color0:     rgb:00/00/00
UXTerm*color1:     rgb:bf/79/79
UXTerm*color2:     rgb:97/b2/6b
UXTerm*color3:     rgb:cd/cd/c1
UXTerm*color4:     rgb:86/a2/be
UXTerm*color5:     rgb:d9/b7/98
UXTerm*color6:     rgb:a1/b5/cd
UXTerm*color7:     rgb:ff/ff/ff
UXTerm*color8:     rgb:55/55/55
UXTerm*color9:     rgb:f4/a4/5f
UXTerm*color10:    rgb:c5/f7/79
UXTerm*color11:    rgb:ff/ff/ef
UXTerm*color12:    rgb:98/af/d9
UXTerm*color13:    rgb:d7/d9/98
UXTerm*color14:    rgb:a1/b5/cd
UXTerm*color15:    rgb:de/de/de
! xterm 
!XTerm*background:       black
!XTerm*foreground:       white
!XTerm*cursorColor:      white
!XTerm*font:      -*-courier-*-r-*-*-12-*-*-*-*-*-*-*
!XTerm*font:      -*-inconsolata-*-*-*-*-10-*-*-*-*-*-*-*
XTerm*geometry: 140x20
UXTerm*geometry: 140x20
!para que screen no redimencione xterm 
XTerm*ptySttySize: true
